persistence {{ data_persistence_enabled | str | lower }}
persistence_location {{ persistence_path }}
log_dest stdout
listener {{ mqtt_port }}
protocol mqtt
listener {{ websocket_port }}
protocol websockets
